---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='México'>
  <div class='grid grid-cols-2 gap-4'>
    <div class='card lg:card-side bg-neutral-content shadow-xl'>
      <figure>
        <img
          src='https://ca-times.brightspotcdn.com/dims4/default/5878325/2147483647/strip/true/crop/3354x2191+0+114/resize/320x209!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Ff2%2Fe7%2F52ddd4bf96c8db7ae099c6b77510%2F925ea62c9c42418abcffc8c5623159cc'
          alt='Album'
        />
      </figure>

      <div class='card-body'>
        <h2 class='card-title'>New album is released!</h2>
        <p>Click the button to listen on Spotiwhy app.</p>
        <div class='card-actions justify-end'>
          <button class='btn btn-primary'>Listen</button>
        </div>
      </div>
    </div>

    <div class='card lg:card-side bg-neutral-content shadow-xl'>
      <figure>
        <img
          src='https://ca-times.brightspotcdn.com/dims4/default/5878325/2147483647/strip/true/crop/3354x2191+0+114/resize/320x209!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Ff2%2Fe7%2F52ddd4bf96c8db7ae099c6b77510%2F925ea62c9c42418abcffc8c5623159cc'
          alt='Album'
        />
      </figure>

      <div class='card-body'>
        <h2 class='card-title'>New album is released!</h2>
        <p>Click the button to listen on Spotiwhy app.</p>
        <div class='card-actions justify-end'>
          <button class='btn btn-primary'>Listen</button>
        </div>
      </div>
    </div>

    <div class='card lg:card-side bg-neutral-content shadow-xl'>
      <figure>
        <img
          src='https://ca-times.brightspotcdn.com/dims4/default/5878325/2147483647/strip/true/crop/3354x2191+0+114/resize/320x209!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Ff2%2Fe7%2F52ddd4bf96c8db7ae099c6b77510%2F925ea62c9c42418abcffc8c5623159cc'
          alt='Album'
        />
      </figure>

      <div class='card-body'>
        <h2 class='card-title'>New album is released!</h2>
        <p>Click the button to listen on Spotiwhy app.</p>
        <div class='card-actions justify-end'>
          <button class='btn btn-primary'>Listen</button>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
