---
import { Article } from '../interfaces/CovidNew'

interface Props {
  Article: Article
}

const { Article } = Astro.props
---

<div class='card bg-neutral-content shadow-xl'>
  <figure
    class='w-full bg-cover h-60'
    style={`background-image: url('${Article.media}');`}
  >
  </figure>

  <div class='card-body max-h-96'>
    <h2 class='card-title'>
      {Article.title}
    </h2>

    <div class='flex w-full justify-between'>
      <h3 class='text-base italic font-thin'>
        - {Article.author.length > 0 ? Article.author : 'Sin autor'}
      </h3>

      <h4 class='text-base italic font-thin'>
        {Article.published_date}
      </h4>
    </div>

    <p class='overflow-y-auto'>
      {Article.summary.length > 0 ? Article.summary : 'Sin redacción'}
    </p>

    <div class='card-actions mt-4'>
      <a class='btn btn-primary w-full' href={Article.link} target='_blank'>
        Visitar
      </a>
    </div>
  </div>
</div>
