---
import StatsGlobal from '../components/StatsGlobal.astro'
import StatsMexico from '../components/StatsMexico.astro'
import '../styles/BaseLayout.css'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='es' data-theme='autumn'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Notas COVID | {title}</title>
  </head>
  <body>
    <div class='flex flex-col gap-8 px-12'>
      <div class='navbar bg-base-100'>
        <a class='btn btn-ghost normal-case text-xl' href='./'> Notas COVID</a>
      </div>

      <div class='flex flex-col gap-16 pb-4'>
        <div class='flex flex-col gap-6'>
          <div
            class='flex flex-col gap-4 md:justify-between md:items-center md:flex-row'
          >
            <h1 class='text-6xl font-semibold'>Últimas noticias</h1>

            {title === 'México' ? <StatsMexico /> : <StatsGlobal />}
          </div>

          <div class='flex gap-2'>
            <a
              href='./'
              class={`badge badge-primary ${
                title === 'México' ? '' : 'badge-outline'
              } `}
            >
              México
            </a>
            <a
              href='./global'
              class={`badge badge-primary ${
                title === 'Global' ? '' : 'badge-outline'
              } `}
            >
              Global
            </a>
          </div>
        </div>

        <slot />
      </div>
    </div>
  </body>
</html>
